.contentDiv {
    width: 90%;
    /* 给header 预留的间隙*/
    margin: 50px auto auto auto;
    display: flex;
    background: #ddd6d6;
}

.contentDiv .content-left,
.contentDiv .content-right {
    width: 20%;
}

.contentDiv .content-midd {
    flex: 1;
}

.content-midd > .html {
    padding: 0 24px 16px;
}

.contentDiv > div {
    margin: 5px 5px 5px 0;
}

.content-left01 {
    background: white;
}

.content-left02 .userHeader {
    width: 100%;
    /*height: 70px;*/
}

.userHeader01,
.userHeader02,
.userHeader03 {
    display: flex;
}

.userHeader01 .userHeader01-right,
.userHeader02 div,
.userHeader03 div {
    flex: 1;
}

.userHeader02,
.userHeader03 {
    margin-top: 10px;
}

.line {
    margin-top: 10px;
    border: 1px solid #f6f6f6;
}

.btn001 {
    margin-top: 20px;
    padding-bottom: 20px;
}

.follow,
.send {
    width: 100px;
}


.content-left03 {
    height: 50px;
    margin: 10px auto;
    line-height: 50px;
}

/*
<!--      热门文章-->
*/
.content-left04 {

}

.hot {
    height: 40px;
    line-height: 40px;
    background: #43678d;
}

.hotLinks {
    margin-top: 10px;
    height: 40px;
    font-size: 13px;
}

/* 评论*/
.content-left05 {
    margin-top: 10px;
}

.content-midd .userInfo {
    /*position: fixed;*/
    position: relative;
    z-index: 996;
    bottom: 0;
    box-shadow: 0 -1px 8px 0 rgb(0 0 0 / 6%);
}

.userInfo > div {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.userInfoFixed {
    position: fixed !important;
}

.commentDiv {
    height: 100px;
    padding: 16px 24px;
}

.commentContent {
    display: flex;
}

.commentContent001 {
    width: 40px;
}

.commentImg {
    border-radius: 50%;
    border: 1px solid var(--CommentImg);
}
.comment003 {
    /*height: 50px;*/
    display: flex;
    justify-content: space-between
}