
:root {
    --el-color-info : #efefef;
}

.blogHeader {
    z-index: 199999;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
}
.blogHeader > .blogHeader-left,
.blogHeader > .blogHeader-right
{
    width: 30%;
    margin: 0 50px;
}
.blogHeader > .blogHeader-midd {
    flex: 1;
}
.blogHeader > .blogHeader-left img {
    width: 80px;
    height: 50px;
    float: left;
}
ul {
    margin: 0;
    padding: 0;
    float: left;
    height: 50px;
    display: inline-block;
}
.blogBody ul > li {
    list-style: none;
    display: inline-block;
    line-height: 50px;
    margin-left: 20px;
    font-family: 'PingFang SC','SF Pro Display','Microsoft YaHei',Roboto,Noto,Arial,sans-serif;
    font-size: 14px;
    padding: 0 5px;
}
.blogBody ul::after,
.blogBody li::after{
    content: "";
    clear: both;
}
.blogBody ul > li:hover {
    background: #c6c6c6;
}
.blogBody ul > li a {
    text-decoration: none;
    color: inherit;
}
.blogHeader-midd-context {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.blogHeader-midd-context .input {
    width: 70%;
}
.blogHeader-midd-context .input .el-input__wrapper {
    border-radius: 16px 0 0 16px;
}
.blogHeader-midd-context .button {
    position: absolute;
    left: 76%;
    width: 88px;
    border-radius: 0 16px 16px 0;
}
.blogHeader-right-context {
    width: 70%;
    height: 100%;
    display: inline-block;
}
.blogHeader-right-context::after {
    clear: both;
    content: "";
}
.blogHeader-right-context2 {
    height: 100%;
    width: 30%;
    float: right;
    display: flex;
    align-items: center;
}
.submit {
    border-radius: 16px;
    width: 100px;
}
.blogHeader::after {
    content: "";
    clear: both;
}


.loginHeader {

}
.el-dialog__header {
    background: #c7c7c7;
    margin: 0;
}
.el-dialog__headerbtn {
    height: 0;
}

.loginTitle {
    display: flex;
}
.loginTitle span {
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-family: SF Pro Display,Roboto,Noto,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}