.blogBody {
    width: 100%;
}
.bgColorH {
    background: #efefef;
    padding-top: 10px;
}
.bgColorWithe {
    background : #fdfcfc
}
/*  博客网站身体部分*/
.blogContext {
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
.public {
    width: 70%;
    margin: 10px auto;
    box-sizing: border-box;
}
.menu span {
    padding: 10px;
    display: inline-block;
    margin: 0 37px 0 0;
    color: rgb(85, 86, 127);
}
.menu {
    padding: 24px 24px 0 24px;
}

.recommend {
    display: flex;
    height: 400px;
}
.recommend1 {
    width: 30%;
}
.recommend2,.recommend3,.recommend4 {
    flex: 1;
    padding: 0 20px;
}
.recommend2-top {
    width: 40px;
    float: right
}
.recommend2-bottom {
    clear: both;
    content: "";
}
.recommendDiv {
    padding-top: 16px;
    height: 50px;
}
.recommendDiv a {
    display: block;
}
.txtHearder {
    font-weight:bold;
    color:black;
}
/*走马灯*/
.el-carousel__container {
    height: 400px;
}
.el-carousel__indicators {
    width: 100%;
}
.el-menu {
    width: 100%;
}

.bgColorY {
    width: 100%;
}

.bgBody {
    display: flex;
}
.bgBody .bgContext-left {
    width: 80%;
}

.listDataTemplateDiv-left {
    width: 100%;
    margin-right: 10px;
}

.txt {
    font-size: 14px;
    font-weight: 400;
    color: #555666;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.txtBtn {
    width: 100%;
    height: 20px;
    display: flex;
}
.txtBtn p {
    margin: 0;
}
.img16X16 {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 5px;
}
.txt2 {
    min-width: 22px;
    text-align: start;
    font-size: 14px;
    padding-right: 24px;
    color: #555666;
    line-height: 20px;
}