.blogBody {
    width: 100%;
}
.bgColorH {
    background: #efefef;
    padding-top: 10px;
}
.bgColorWithe {
    background : #fdfcfc
}
/*  博客网站身体部分*/
.blogContext {
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
.public {
    width: 70%;
    margin: 10px auto;
    box-sizing: border-box;
}
.menu span {
    padding: 10px;
    display: inline-block;
    margin: 0 37px 0 0;
    color: rgb(85, 86, 127);
}
.menu {
    padding: 24px 24px 0 24px;
}

.recommend {
    display: flex;
    height: 400px;
}
.recommend1 {
    width: 30%;
}
.recommend2,.recommend3,.recommend4 {
    flex: 1;
    padding: 0 20px;
    /* 超出内容不显示 用来控制超出文本显示省略号 */
    overflow: hidden;
}
.recommend2-top {
    width: 40px;
    float: right
}
.recommend2-bottom {
    clear: both;
    content: "";
}
.recommendDiv {
    padding-top: 16px;
    height: 50px;
}
.recommendDiv a {
    display: block;
}
.txtHearder {
    font-weight:bold;
    color:black;
    height: 30px;
    width: 100%;
    text-decoration: underline;
}
/*走马灯*/
.el-carousel__container {
    height: 400px;
}
.el-carousel__indicators {
    width: 100%;
}
.el-menu {
    width: 100%;
}

.bgColorY {
    width: 100%;
}

.bgBody {
    display: flex;
}
.bgBody .bgContext-left {
    width: 75%;
}
.bgBody .bgContext-right {
    flex: 1;
    margin-left: 20px;
}

.listDataTemplateDiv-left {
    width: 100%;
    margin-right: 10px;
}

.txt {
    font-size: 14px;
    font-weight: 400;
    color: #555666;

    white-space: normal;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*
    设置文本高度 超出后让文本不显示
     */
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.txtBtn {
    width: 100%;
    height: 20px;
    display: flex;
}
.txtBtn p {
    margin: 0;
}
.txt2 {
    min-width: 22px;
    text-align: start;
    font-size: 14px;
    padding-right: 24px;
    color: #555666;
    line-height: 20px;
}